.sidebar {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: fit-content;

    padding-left: 10px;
    padding-right: 10px;
    z-index: 5;

    border-left: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;

    border-color: white;
    border-style: solid;
}

/* #tags_text { */
    /* border-bottom: 1px; */
    /* border-style: solid; */
/* } */